@import "~antd/dist/antd.css";

.site-page-header {
  /* border: 1px solid rgb(235, 237, 240); */
}

.ant-menu-horizontal {
  border-bottom: none;
}

.container {
  position: relative;
  text-align: center;
  font-size: 160px;
  color: white;
}

.centered {
  font-family: "Nothing You Could Do", cursive;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ant-btn-lg {
  height: 50px;
  padding: 6px 50px;
  font-size: 16px;
  border-radius: 5px;
}

.search {
  padding: 35px 80px;
  background: #040e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.search input {
  width: 400px;
  font-weight: normal;
}

.search Dropdown {
  border: 1px solid grey;
}

.destinations {
  padding: 160px;
  text-align: center;
}

.newsletter {
  padding: 80px 60px;
  background: #3e4a5f url("newsletter.png.webp") left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h1,
h2,
h3 {
  color: #ffffff;
} */

.newsletter input {
  width: 500px;
}

.newsletter div {
  margin-left: 20px;
}

.places {
  text-align: center;
  padding: 80px 160px;
}

.places_grid {
  text-align: center;
  /* padding-left: 20%; */
}

.testimonials {
  /* margin-left: 25%; */
  padding: 80px;
  text-align: center;
  /* background: #f7fa; */
  background: #f7fafd;
}
.testimonials p {
  font-size: 18px;
  width: 500px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 90px;
  background: #040e27;
  color: #ffffff;
}
.footer p {
  margin-top: 20px;
  width: 200px;
}
.footer h2 {
  color: #ffffff;
}

.ant-tabs-content {
  width: 45%;
}
.ant-tabs {
  margin-left: 100px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff4a52;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #ff4a52;
}

.ant-tabs-tab:hover {
  color: #ff4a52;
}

.ant-tabs-ink-bar {
  background: #ff4a52;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.ant-btn-primary {
  background: #1ec6b6;
  border-color: #1ec6b6;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #0f6b62;
  border-color: #0f6b62;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #1ec6b6;
  border-color: #1ec6b6;
}

.ant-row-middle {
  align-items: flex-start;
}
