@import "~antd/dist/antd.css";

:root {
  --font: "Open Sans", sans-serif;
  --color-bg: #252525;
  --color-txt: #fff;
  --color-home: #f1c40f;
  --color-about: #16a085;
  --color-projects: #ff4a52;
  --color-contacts: #2980b9;
  --color-sidetour: rgba(228, 228, 228, 0.5);
  --color-sidetour--text: rgba(20, 20, 20, 0.781);
}

.site-page-header {
  /* border: 1px solid rgb(235, 237, 240); */
}

body {
  overflow: visible;
}

.number-input {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  align-items: center;
}

Spin {
  color: var(--color-about);
}

.ant-menu-horizontal {
  border-bottom: none;
}

.container {
  position: relative;
  text-align: center;
  font-size: 160px;
  color: white;
}

.centered {
  font-family: "Nothing You Could Do", cursive;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-btn-lg {
  height: 50px;
  padding: 6px 50px;
  font-size: 16px;
  border-radius: 5px;
}

.search {
  padding: 35px 80px;
  background: #040e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.search input {
  width: 400px;
  font-weight: normal;
}

.search Dropdown {
  border: 1px solid grey;
}

.destinations {
  padding: 80px 100px;
  text-align: center;
}

.destinations p {
  margin: 10px auto 40px auto;
  width: 550px;
  font-size: 17px;
}
.destinations_card {
  padding: "8px 0";
  transition: transform 0.25s;
}
.ant-form-item-label > label {
  color: var(--color-sidetour--text);
}
.destinations_card:hover {
  /* background: red; */
  box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.404);
  transform: translateY(-10px);
}
.newsletter {
  padding: 80px 60px;
  background: #3e4a5f url("newsletter.png.webp") left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItemName {
  color: rgb(0, 0, 0);
  font-family: "Noto Sans JP", cursive;
  font-size: 25px;

  /* position: "absolute";
  top: "150px";
  left: "40px"; */
  transition: transform 0.25s;

  /* background: "#FF4A52", */
}

.login-container {
  background: var(--color-projects);
  width: 300px;
  height: 350px;
  padding: 70px 30px;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
}

.login-container h1,
.register-container h1 {
  color: var(--color-txt);
}

.register-container {
  background: var(--color-projects);
  width: 350px;
  height: 500px;
  padding: 70px 30px;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
}

.places p {
  margin: 10px auto 40px auto;
  width: 550px;
  font-size: 17px;
}
/* h1,
h2,
h3 {
  color: #ffffff;
} */

.newsletter input {
  width: 500px;
}

.newsletter div {
  margin-left: 20px;
}

.places {
  text-align: center;
  padding: 80px 160px;
}

.places_grid {
  text-align: left;
}

.testimonials {
  /* margin-left: 25%; */
  padding: 80px;
  text-align: center;
  /* background: #f7fa; */
  background: #f7fafd;
}

.testimonials p {
  font-size: 18px;
  width: 500px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 90px;
  background: #040e27;
  color: #ffffff;
  position: relative;

  margin-top: 54px;
}
.footer p {
  margin-top: 20px;
  width: 200px;
}
.footer h2 {
  color: #ffffff;
}

.ant-tabs-content {
  width: 45%;
}
.ant-tabs {
  margin-left: 100px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff4a52;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #ff4a52;
}

.ant-tabs-tab:hover {
  color: #ff4a52;
}

.ant-tabs-ink-bar {
  background: #ff4a52;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.singletourCard {
  display: flex;
  align-items: center;
}
.pricesSection {
  display: flex;

  align-items: center;
}
.ant-btn-primary {
  background: #1ec6b6;
  border-color: #1ec6b6;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #0f6b62;
  border-color: #0f6b62;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #ffffff;
}
.btn-submit:hover {
  background: #0f6b62;
  border-color: #0f6b62;
}

.ant-row-middle {
  align-items: flex-start;
}

main {
  margin: 16px;
}

/* navbar v2 */

.navbar {
  display: flex;
  align-items: center;
  /* background: transparent; */
  background: #faf9f9;
  color: black;
  font-family: Helvetica;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-left: 5rem; */
}
.navbar a {
  color: black;
}
/* 
.navbar:active {
  background: var(--color-about);
} */
.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}
/* //TODO */
.navbar__item {
  margin: 16px 16px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  padding: 0.4rem 0.04rem;
  letter-spacing: 0.2rem;
  /* position relative to absolute position the connected pseudo element */
  position: relative;
}
.navbar_right_item {
  /* margin-right: 10%; */
  font-size: 100%;
  padding: 12px 15px;
  letter-spacing: 0.2rem;
  position: relative;
}
.navbar_right_item-logout {
  /* margin-right: 10%; */
  font-size: 100%;
  padding: 8px 10px;
  letter-spacing: 0.2rem;
  position: relative;
  /* background-color: var(--color-about); */
  border-radius: 3px;
}
.navbar__item:before,
.navbar_right_item:before {
  /* include a faux-border with a pseudo element  */
  content: "";
  position: absolute;
  /* by default have the faux-border hidden from view */
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  /* transition for the hover state */
  transition: all 0.3s ease-out;
}

.navbar__item:before,
.navbar_right_item:before {
  background: var(--color-projects);
}

.navbar__item:hover:before,
.navbar_right_item:hover:before {
  /* on hover, change the bottom property to have the faux-border stretch from the top down */
  bottom: -5px;
}

.ant-layout-sider {
  height: fit-content;
  padding: 2%;
  /* min-width: 300px !important;
  max-width: 300px !important;
  width: 300px !important; */
  background: var(--color-sidetour);
  margin: 5% 10% 0 0;
  /* margin-right: 10%; */
  border-radius: 5px;
}

.ant-layout-header {
  height: fit-content;
  padding: 0;
  overflow: hidden;
}

.imgClass {
  background: red
    url("https://images.pexels.com/photos/6005031/pexels-photo-6005031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center;
  width: 100%;
  height: 70vh;
  box-shadow: 190px 100px 191px 181px rgba(0, 0, 0, 0.473) inset;
}

.center-space {
  margin: auto;
}

a {
  color: var(--color-txt);
}

.tab-style {
  padding: 30px;
}
