@import "~antd/dist/antd.css";

:root {
  --color-bg: #252525;
  --color-txt: #fff;
  --color-home: #f1c40f;
  --color-about: #16a085;
  --color-projects: #ff4a52;
  --color-contacts: #2980b9;
  --color-sidetour: rgba(228, 228, 228, 0.5);
  --color-sidetour--text: rgba(20, 20, 20, 0.781);

  --font: "Open Sans", sans-serif;
  --font-cursive: "Nothing You Could Do", cursive;
  --font-nav: Helvetica;
}

body {
  overflow: visible;
}

.number-input {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  /* gap: 50px; */
  align-items: center;
}

Spin {
  color: var(--color-about);
}

.ant-menu-horizontal {
  border-bottom: none;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 160px;
  color: white;
  overflow: hidden;
}

.centered {
  font-family: var(--font-cursive);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffffff;
}

.cate_grid {
  margin-left: 50%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.card_container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

.card_cat {
  width: 340px;
}

@media screen and (max-width: 600px) {
  .card_container {
    padding: 0px;
  }

  .centered {
    font-size: 50px;

    /* left: 42%; */
  }

  .container {
    margin-top: -42px;
    overflow: visible;
  }

  .container img {
    height: 30vh;
    width: 100%;
  }

  .card_cat,
  .card_cat img {
    width: 240px;
  }

  .card_cat img {
    height: 150px;
  }

  /* .card_container {
    width: 50%;
    text-align: center;
    margin: 20px;
    padding: 60px;
  } */
}

.centeredBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-btn-lg {
  height: 50px;
  padding: 6px 50px;
  font-size: 16px;
  border-radius: 5px;
}

.search {
  padding: 35px 80px;
  background: #040e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.search input {
  width: 400px;
  font-weight: normal;
}

.search Dropdown {
  border: 1px solid grey;
}

@media screen and (max-width: 770px) {
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    color: var(--color-txt);
    font-size: 15px;
    font-weight: bold;
  }
  .search input {
    width: 200px !important;
  }
  .search .ant-input {
    width: 220px !important;
    margin: 0px 20px;
    /* margin-top: 30px !important;
      margin-bottom: 30px !important; */
    font-weight: normal;
  }

  .search button {
    margin: 0 20px !important;
  }
  /* .search p {
    width: 120%;
  } */
}

@media screen and (max-width: 600px) {
  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--color-txt);
    font-size: 20px;
    font-weight: bold;
  }
  .search input {
    width: 280px !important;
  }
  .search .ant-input {
    width: 320px !important;
    margin-bottom: 20px;
    /* margin-top: 30px !important;
    margin-bottom: 30px !important; */
    font-weight: normal;
  }
  .search button {
    margin-top: 20px !important;
  }
  .search p {
    width: 120%;
  }
}

.destinations {
  padding: 80px 210px;
  text-align: center;
}

.destinations p {
  margin: 10px auto 40px auto;
  width: 550px;
  font-size: 17px;
}

.destinations_card {
  /* padding: "8px 0"; */
  transition: transform 0.25s;
}
.cardItemName {
  color: rgb(0, 0, 0);
  font-family: "Noto Sans JP", cursive;
  font-size: 25px;

  /* position: "absolute";
  top: "150px";
  left: "40px"; */
  transition: transform 0.25s;

  /* background: "#FF4A52", */
}

@media screen and (max-width: 770px) {
  .destinations {
    padding: 40px 60px;
  }
  .destinations p {
    margin: 10px auto 40px auto;
    width: 95%;
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .destinations {
    padding: 20px 30px;
    font-size: smaller;
  }
  .destinations p {
    margin: 10px auto 40px auto;
    width: 100%;
    font-size: 15px;
  }
  .destinations button {
    padding: 6px 15px;
  }
  .destinations .cardItemName {
    font-size: large;
  }
}

.ant-form-item-label > label {
  color: var(--color-sidetour--text);
}

.destinations_card:hover {
  box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.404);
  transform: translateY(-10px);
}

.newsletter {
  padding: 80px 60px;
  background: #3e4a5f url("newsletter.png.webp") left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter input {
  width: 500px;
}

.newsletter div {
  margin-left: 20px;
}

@media screen and (max-width: 770px) {
  .newsletter .ant-input {
    margin-bottom: 25px;
    margin-left: 10px;
  }
  .newsletter h2 {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .newsletter {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
  }
  .newsletter input {
    /* padding: 40px; */
    width: 90% !important;
    /* margin-bottom: 25px; */
  }
  .newsletter h2 {
    width: 89%;
    /* margin: auto; */
  }
  .newsletter button {
    font-size: 15px;
    padding: 2px 12px;
  }
  .newsletter div {
    margin-left: 0px;
  }
}

.login-container {
  background: var(--color-projects);
  width: 300px;
  height: 350px;
  padding: 70px 30px;
  margin: 50px auto;
  border-radius: 5px;
  text-align: center;
}

.login-container h1 {
  color: var(--color-txt);
}

.register-container h1 {
  color: var(--color-home);
}

.resgiter {
  height: 100vh;
  background: url("banner3.png.webp");
  background-size: cover;
  align-items: center;
  display: flex;
}

.register-container {
  background: var(--color-txt);
  width: 350px;
  height: 500px;
  padding: 50px 30px 0px 30px;
  margin: auto auto;
  border-radius: 5px;
  text-align: center;
}

.places {
  text-align: center;
  padding: 80px 160px;
}
.places p {
  margin: 10px auto 40px auto;
  width: 550px;
  font-size: 17px;
}

.places_grid {
  text-align: left;
}

.places .card_tour {
  width: 350px;
}

@media screen and (max-width: 770px) {
  .places {
    padding: 40px 60px;
  }
  .places p {
    margin: 10px auto 40px auto;
    width: 95%;
  }
  .card_tour,
  .card_tour img {
    width: 280px !important;
  }
  .card_tour img {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .places {
    padding: 20px 30px;
    font-size: smaller;
  }
  .places p {
    margin: 10px auto 40px auto;
    width: 100%;
    font-size: 15px;
  }
  .card_tour,
  .card_tour img {
    width: 180px !important;
  }
  .card_tour img {
    height: 110px;
  }
  .places button {
    padding: 6px 15px;
  }
  .places_grid {
    margin-left: -45px;
  }
}

.testimonials {
  /* margin-left: 25%; */
  padding: 80px;
  text-align: center;
  /* background: #f7fa; */
  background: #f7fafd;
}

.testimonials p {
  font-size: 18px;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .testimonials {
    padding: 40px;
    text-align: center;
  }
  .testimonials p {
    width: 295px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 140px;
  background: #040e27;
  color: #ffffff;
  position: relative;
}

.footer p {
  width: 250px;
}
.footer_links a {
  display: inline-block;
}

.footer_links_p {
  margin-top: 50px;
  align-self: flex-start;
}

.footer h2 {
  color: #ffffff;
}

@media screen and (max-width: 770px) {
  .footer {
    /* display: flex; */
    justify-content: space-between;
    padding: 50px 70px;
    /* align-items: center;
    background: #040e27;
    color: #ffffff;
    position: relative; */
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 25px;
    padding: 35px 30px 20px 30px;
    font-size: 15px;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* background: #040e27;
    color: #ffffff;
    position: relative; */
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .footer_links_p {
    grid-area: 2/1/2/2;
    /* width: 250px; */
  }

  /* .footer p,
  .footer a {
    font-size: medium;
  } */
  .footer p {
    width: 190px;
    margin-top: 0px;
  }
}

.ant-tabs-content {
  width: 45%;
}

.ant-tabs {
  margin-left: 100px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff4a52;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #ff4a52;
}

.ant-tabs-tab:hover {
  color: #ff4a52;
}

.ant-tabs-ink-bar {
  background: #ff4a52;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.ant-btn-primary {
  background: #1ec6b6;
  border-color: #1ec6b6;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #0f6b62;
  border-color: #0f6b62;
}

/* .ant-btn:hover,
.ant-btn:focus {
  color: #ffffff;
} */

.btn-submit:hover {
  background: #0f6b62;
  border-color: #0f6b62;
}

.ant-row-middle {
  align-items: flex-start;
}

main {
  margin: 16px;
}

/* navbar v2 */

.navbar {
  display: flex;
  align-items: center;
  background: #faf9f9;
  color: black;
  font-family: var(--font-nav);
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;

  /* padding-left: 5rem; */
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  /* display: no; */
}

@media screen and (max-width: 600px) {
  .bm-burger-button {
    display: flex;
  }
  .showInMobile {
    display: block;
  }
  .showInDesktop {
    display: none;
  }

  /* .navbar .navbar__title {
    display: block;
  } */
}

@media screen and (min-width: 601px) {
  .bm-burger-button {
    display: none;
  }

  .showInMobile {
    display: none;
  }

  .showInDesktop {
    display: flex;
  }

  /* .navbar .navbar__title {
    display: block;
  } */
}

.navbar a {
  color: black;
}

.bm-burger-bars {
  background: var(--color-projects);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  position: fixed;
  left: 100%;
  top: 36px;
  z-index: 100;
  color: #040e27 !important;
}
.bm-cross {
  background: #5f5f5f;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.link-register {
  color: var(--color-projects);
}

/* //TODO */
.navbar__item {
  margin: 16px 16px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  padding: 0.4rem 0.04rem;
  letter-spacing: 0.2rem;
  /* position relative to absolute position the connected pseudo element */
  position: relative;
}

.navbar_right_item {
  /* margin-right: 10%; */
  font-size: 100%;
  padding: 19px 15px 8px 12px;
  letter-spacing: 0.2rem;
  position: relative;
  cursor: pointer;
  /* background-color: #040e27; */
}

.navbar_right_item-logout {
  /* margin-right: 10%; */
  font-size: 100%;
  padding: 8px 10px;
  letter-spacing: 0.2rem;
  position: relative;
  /* background-color: var(--color-about); */
  border-radius: 3px;
  margin-left: 40%;
}

.navbar__item:before,
.navbar_right_item:before {
  /* include a faux-border with a pseudo element  */
  content: "";
  position: absolute;
  /* by default have the faux-border hidden from view */
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  /* transition for the hover state */
  transition: all 0.3s ease-out;
}

.navbar__item:before,
.navbar_right_item:before {
  background: var(--color-projects);
}

.navbar__item:hover:before,
.navbar_right_item:hover:before {
  /* on hover, change the bottom property to have the faux-border stretch from the top down */
  bottom: -5px;
}

.ant-layout-header {
  height: fit-content;
  padding: 0;
  overflow: hidden;
}

.imgClass {
  background: url("https://images.pexels.com/photos/6005031/pexels-photo-6005031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center;
  width: 100%;
  height: 70vh;
  box-shadow: 190px 100px 191px 181px rgba(0, 0, 0, 0.473) inset;
}

a {
  color: var(--color-txt);
}

.tab-style {
  padding: 30px;
}

.tours_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filterRes {
  width: 20%;
  margin-top: 50px;
  padding: 25px;
  background: var(--color-txt);
  margin-left: 200px;
  border-radius: 10px;
}

.content_style_tours {
  padding: 50px;
}

.content_style_tours img {
  width: 350px;
}
.p_card {
  width: 100%;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .filterRes {
    margin-left: 80px;
    width: 65%;
  }
}
@media screen and (max-width: 770px) {
  .content_style_tours img {
    width: 230px;
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .filterRes {
    margin-left: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }

  .content_style_tours img {
    width: 150px;
    height: 100px;
  }
  .content_style_tours button {
    padding: 5px 8px;
  }

  .tours_container {
    flex-direction: column;
  }
}

.content_tour {
  padding: 50px 3px 40px 100px;
}

.div_style {
  display: flex;
  gap: 30;
  align-items: start;
  width: "500px";
}

.ant-layout-sider {
  height: fit-content;
  padding: 2%;
  /* min-width: 300px !important;
  max-width: 300px !important;
  width: 300px !important; */
  background: var(--color-sidetour);
  margin: 5% 10% 0 0;
  /* margin-right: 10%; */
  border-radius: 5px;
}

.pricesSection {
  display: flex;
  align-items: center;
}
/* Sider {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.singletourCard {
  display: flex;
  align-items: center;
}
.card_style {
  min-width: 300px;
  margin-right: 20px;
}
.ant_tabs {
  width: 100%;
}
.sider_width {
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;
}

.price_card {
  margin-right: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 770px) {
  .ant-layout-sider {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
  }
  .content_tour {
    margin-left: 40px;
    padding: 10px;
  }
  .singletourCard {
    flex-direction: column;
  }
  .pricesSection {
    flex-direction: column;
    margin-left: 155px;
  }
  .ant-tabs {
    margin-left: 0;
  }
  .singletourCard {
    margin-left: 120px;
  }
}

@media screen and (max-width: 600px) {
  .ant-layout-sider {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    margin-top: 800px;
    /* margin-left: -600px; */

    /* position: fixed; */
    /* top: 50px; */
  }

  .ant-layout.ant-layout-has-sider > .ant-layout,
  .ant-layout.ant-layout-has-sider > .ant-layout-content {
    width: 345px;
    margin-left: 30px;
  }

  .card_style {
    min-width: 200px;
  }
}

.content_card img {
  width: 380px;
  height: 250px;
}

.container_single_cat {
  position: relative;
}

.container_single_cat img {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 160px;
  color: white;
  overflow: hidden;
  /* height: 40vh; */
}

.container_single_cat h1 {
  z-index: 299;
  font-size: 80px;
}

@media screen and (max-width: 770px) {
  .content_card img {
    width: 260px;
    height: 170px;
  }
  .content_card {
    padding: 39px 0;
  }
}

@media screen and (max-width: 770px) {
  .content_card {
    padding: 20px;
  }
  .content_card img {
    width: 220px;
    height: 140px;
  }
  .container_single_cat h1 {
    font-size: 40px;
  }
  .container_single_cat img {
    height: 30vh;
    width: auto;
  }
  .container_single_cat {
    overflow: hidden;
  }
}

.content_blog {
  width: 60%;
  margin: 80px 20px 70px 200px;
}

@media screen and (max-width: 600px) {
  .content_blog {
    width: 100%;
    margin: 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content_blog img {
    width: 220px;
  }
  .container h1 {
    font-size: 40px !important;
  }
}

.form_tour {
  margin-top: 35px;
  background: var(--color-sidetour);
}

.sider-tour {
  padding: 25px;
  border-radius: 15px;
}

#navbar__item_last {
  margin-left: 45%;
}

@media screen and (max-width: 770px) {
  #navbar__item_last {
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .form_tour {
    margin: 0 25px;
  }

  .bm-cross-button {
    left: 110%;
  }

  #navbar__item_last {
    margin-left: 3%;
  }
}

.login-modal {
  z-index: 19444444440;
}
